venv/
.vscode/
.DS_Store
.old/
./worker/
.git_old/
.env
.vagrant/
*.pem
*.key
*.crt
*.csr
webui_updated/**
webui_old/**
k3s/mongodb/old/
k3s/mongodb/dump/
k3s/ldap/openldap/
k3s/rest-api/chart/
k3s/vault/cert/cert/
k3s/vault/cert/cert_old/
.old/
scripts/mongodb/
*.mongodb
*.pem
*.key
misc/
certs/
worker/
kubeconfig*
.*
*_old/
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info
*.egg
*.log
