[submodule "framework"]
	path = framework
	url = https://github.com/llxp/chain-factory-framework.git
[submodule "backend-api"]
	path = backend-api
	url = https://github.com/llxp/chain-factory-backend-api.git
[submodule "authentication-api"]
	path = authentication-api
	url = https://github.com/llxp/flask-authentication-api.git
[submodule "docker"]
	path = docker
	url = https://github.com/llxp/chain-factory-docker.git
[submodule "webui"]
	path = webui
	url = https://github.com/llxp/chain-factory-webui.git
