AMQPStorm==2.8.5
dataclasses-json==0.5.4
marshmallow==3.12.1
marshmallow-enum==1.5.1
mypy-extensions==0.4.3
pamqp==2.3.0
pymongo==3.11.4
pytz==2021.1
redis==3.5.3
stdio-proxy==0.1.3
stringcase==1.2.0
typing-extensions==3.10.0.0
typing-inspect==0.7.1